extends layout

block content
	h2 Articles
	p #{title}

	div
		ul
		each article in articles
			li.list-group-item
				a(href="/articles/"+article._id)
					h4= article.title
					p= article.body
